
$primary-blue-transparent-light: rgba(71, 147, 255, 0.2);

$primary-blue-400-light: #3661ec;

$gray-400-light: #939CB0;

$yellow-300-light: #ffb609;

//FONTS
$bold-font: "SF-Bold, sant-serif";
$medium-font: "SF-Medium, sant-serif";
$regular-font: "SF-Regular, sant-serif";
$light-font: "SF-Light, sant-serif";

:root{
  --primary-blue-transparent-light: #{$primary-blue-transparent-light};
  --primary-blue-transparent-default: var(#{--primary-blue-transparent-light});
  
  --primary-blue-400-light: #{$primary-blue-400-light};
  --primary-blue-400-default: var(#{--primary-blue-400-light});

  --gray-400-light: #{$gray-400-light};
  --gray-400-default: var(#{--gray-400-light});

  --yellow-300-light: #{$yellow-300-light};
  --yellow-300-default: var(#{--yellow-300-light});

  --bold-font: #{$bold-font};
  --medium-font: #{$medium-font};
  --regular-font: #{$regular-font};
  --light-font: #{$light-font};
}