header{
  grid-area: header;
}
.header_tools{
  text-align: right;
}
.lotoype_icon{
  height: 52px;
  width: 52px;
  color: var(#{--primary-blue-400-default});
}
.lotoype_text{
  font-size: 30px;
  color: var(#{--primary-blue-400-default});
  font-family: var(#{--bold-font});
}

.selectCountry{
  border-radius: 5px;
  padding: 6px;
  font-size: 20px;
  border-color: var(#{--gray-400-default});
}